.wrapper{
    display: flex;
    background-color: yellow;
    height: 516px;
    width: clamp(300vw 100% 800vw);
    flex-direction: row;
}
.content{
    display: flex;
    width: 100%;
    height: 516px;
    align-items: center;
    text-align: center;
}  